<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <button (click)="toggleSidebar()" type="button" class="button"><span class="icon"><i
            class="mdi mdi-menu"></i></span></button>
    </div>
    <a class="navbar-item" href="/">
      <h1 id="hardstoplogo">HARDSTOP</h1>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu" *ngIf="admLogado">
    <div class="navbar-end">
      <a *ngIf="admLogado" class="navbar-item">
        {{funcionarioLogado?.nome || 'Funcionário desconhecido'}}
      </a>
    </div>
  </div>
</nav>