@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css');

#hardstoplogo{
    font-family: "Quantico";
    font-size: x-large;
}

.hero-body{
    background-color: blueviolet;
}