<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <mat-toolbar color="primary">
    <span>Loja de Produtos Incríveis</span>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <h1>Página Inicial</h1>
      <p>Bem-vindo à Loja de Produtos Incríveis!</p>
      <button mat-raised-button>Comprar Agora</button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
</html>