<div class="container box content">
  <h1>Lista de favoritos</h1>
  <ng-container *ngIf="produtoItens.length > 0">
    <div class="table-container">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Imagem</th>
            <th>Nome do produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of produtoItens" class="favoritos-itens">
            <td>
              <img
                [src]="item.imagemPrincipal"
                style="max-width: 50px; max-height: 50px; object-fit: cover"
              />
            </td>
        
            <td>{{ item.nome }}</td>
            <td>{{ formatValues(item.valorVenda) }}</td>
            <td>{{ item.quantidadeUnidades }}</td>
            <!-- <td><button mat-raised-button color="warn" (click)="removerItem(item.id)">Remover dos Favoritos</button></td> -->
            <td><button (click)="removerItem(item.id)"><span class="icon is-small"><i class="mdi mdi-delete" title="Remover dos favoritos"></i></span></button></td>
          </tr>      
        </tbody>
      </table>
    </div>
  </ng-container>
</div>