<div class="container">
  <app-header-home></app-header-home>
  <div class="columns">
    <div class="column is-three-quarters">
      <div class="box">
        <form [formGroup]="tiposPagamentoForm">
          <div class="column">
            <label class="field label">Selecione forma de Pagamento:</label>
            <div class="select">
              <select formControlName="metodoEscolhido">
                <option disabled selected value="">Selecione uma forma de Pagamento</option>
                <option *ngFor="let tipo of tiposPagamento" [value]="tipo.id">{{ tipo.descricao }}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <form [formGroup]="pagamentoFormGroup">
        <div class="box content" *ngIf="metodoPagamento === 0"> <!-- 1 Representa o tipo de pagamento por cartão -->
          <h2>Digite dados do cartão de crédito</h2>
          <div class="columns">
            <div class="column">
              <label class="field label" for="numeroCartao">Número do Cartão:</label>
              <input class="control input" id="numeroCartao" type="text" formControlName="numeroCartao">
              <div *ngIf="numeroCartaoControl.invalid && (numeroCartaoControl.dirty || numeroCartaoControl.touched)">
                <div *ngIf="numeroCartaoControl.errors?.['required']">Número do cartão é obrigatório.</div>
                <div *ngIf="numeroCartaoControl.errors?.['pattern']">Número do cartão inválido.</div>
              </div>
            </div>
            <div class="column">
              <label class="field label" for="mesValidade">Mês de Validade:</label>
              <input class="control input" id="mesValidade" type="text" formControlName="mesValidade" />
              <div *ngIf="mesValidadeControl.invalid && (mesValidadeControl.dirty || mesValidadeControl.touched)">
                <div *ngIf="mesValidadeControl.errors?.['required']">Mês de validade é obrigatório.</div>
                <div *ngIf="mesValidadeControl.errors?.['pattern']">Mês de validade inválido.</div>
                <div *ngIf="mesValidadeControl.errors?.['min']">Mês de validade inválido.</div>
                <div *ngIf="mesValidadeControl.errors?.['max']">Mês de validade inválido.</div>
              </div>
            </div>
            <div class="column">
              <label class="field label" for="anoValidade">Ano de Validade:</label>
              <input class="control input" id="anoValidade" type="text" formControlName="anoValidade" />
              <div *ngIf="anoValidadeControl.invalid && (anoValidadeControl.dirty || anoValidadeControl.touched)">
                <div *ngIf="anoValidadeControl.errors?.['required']">Ano de validade é obrigatório.</div>
                <div *ngIf="anoValidadeControl.errors?.['pattern']">Ano de validade inválido.</div>
                <div *ngIf="anoValidadeControl.errors?.['min']">Ano de validade inválido.</div>
              </div>
            </div>
            <div class="column">
              <label class="field label" for="codSeguranca">Código de Segurança:</label>
              <input class="control input" id="codSeguranca" type="text" formControlName="codSeguranca" />
              <div *ngIf="codSegurancaControl.invalid && (codSegurancaControl.dirty || codSegurancaControl.touched)">
                <div *ngIf="codSegurancaControl.errors?.['required']">Código de segurança é obrigatório.</div>
                <div *ngIf="codSegurancaControl.errors?.['pattern']">Código de segurança inválido.</div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="box" *ngIf="metodoPagamento === 2"> <!-- 2 Representa o tipo de pagamento por Pix -->
          <div class="notification is-info">
            <b>O pagamento via PIX tem um prazo de 7 dias para ser efetuado, e prazo de 1 hora para confirmação do
              pagamento.</b>
            <p>O QR CODE será exibido na tela do computador. Qualquer dúvida, contate o suporte!</p>
          </div>
        </div>
  
        <div class="box content" *ngIf="metodoPagamento === 1"> <!-- 1 representa o tipo de pagamento por Boleto -->
          <div class="columns">
            <div class="column">
              <h2>Digite dados do boleto</h2>
              <label class="field label" for="diasVencimento">Dias para Vencimento:</label>
              <input class="control input" id="diasVencimento" type="text" formControlName="diasVencimento" />
              <div
                *ngIf="diasVencimentoControl.invalid && (diasVencimentoControl.dirty || diasVencimentoControl.touched)">
                <div *ngIf="diasVencimentoControl.errors?.['required']">Dias para vencimento é obrigatório.</div>
                <div *ngIf="diasVencimentoControl.errors?.['pattern']">Dias para vencimento inválido.</div>
                <div *ngIf="diasVencimentoControl.errors?.['min']">Dias para vencimento inválido.</div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="column">
      <div class="box content">
        <h2>Resumo</h2>
        <p>Total: {{ formatValues(calcularTotal()) }}</p>
        <button class="button is-primary  " type="submit" (click)="efetuarPagamento()">Efetuar Pagamento</button>
      </div>
    </div>  

  </div>
</div>