<h1 class="title is-1 centralizador">Ver dados do fornecedor #{{fornecedor.id}}</h1>
<form [formGroup]="fornecedorForm">
  <div class="container box">
    <h2 class="title is-3">Dados da empresa:</h2>
      <div class="columns">
        <div class="column">
          <label class="field label" for="nomeFantasia">Nome Fantasia:</label>
          <input class="control input" type="text" id="nomeFantasia" readonly formControlName="nomeFantasia">      
        </div>
        <div class="column">
          <label class="field label" for="cnpj">CNPJ:</label>
          <input class="control input" type="text" id="cnpj" readonly formControlName="cnpj">      
        </div>
        <div class="column">
          <label class="field label" for="endSite">Site:</label>
          <input class="control input" type="text" id="endSite" readonly formControlName="endSite"><br>      
        </div>
      </div>
    </div>
    <div class="container box">
    <h2 class="title is-3" for="telefones">Telefones:</h2>
    <div formArrayName="telefones">
      <div *ngFor="let telefone of telefones.controls; let i = index" [formGroupName]="i">
        <div class="columns">
          <div class="column">
            <label class="field label">DDD:</label>
            <input class="control input" readonly formControlName="ddd" placeholder="Insira o DDD sem parênteses">
          </div> 
          <div class="column">
            <label class="field label">Número:</label>
            <input class="control input" readonly formControlName="numeroTelefone" placeholder="Número de Telefone">
          </div>
          <div class="column">
            <label class="field label">Selecione tipo de telefone:</label>
            <div class="select" > 
              <!-- id="seletor-especial" -->
              <select formControlName="tipo">
                <option disabled selected value="">Selecione um tipo de telefone</option>
                <option disabled *ngFor="let tipo of tiposTelefone" [value]="tipo.id">{{ tipo.descricao }}</option>
              </select>
          </div>
          </div>
    </div>
    <br>
    </div>
    </div>
    </div>
    <div class="container box">
      <h2 class="title is-3">Endereços</h2>  
      <div formArrayName="enderecos">
      <div *ngFor="let endereco of enderecos.controls; let i = index" [formGroupName]="i">
        <div class="columns">
          <div class="column">
            <label class="field label">Nome do endereço:</label>
            <input class="control input" readonly formControlName="nome" placeholder="Nome para este endereço:">
          </div>
          <div class="column is-one-quarter">
            <label class="field label">CEP:</label>
            <input class="control input" readonly formControlName="cep" inputmode="numeric" mask="00000-000" placeholder="Ex: 00000-000">
            <div *ngIf="endereco.get('cep')?.touched && endereco.get('cepInvalido')?.value">
              <p class="help is-danger">CEP inválido.</p>    
            </div>    
          </div>  
        </div>
          <div class="columns">
            <div class="column">
              <label class="field label">Logradouro:</label>
              <input class="control input" readonly formControlName="logradouro" placeholder="Logradouro (será preenchido automaticamente)"
              [disabled]="!endereco.get('cepInvalido')?.value" readonly>
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-fifth">
              <label class="field label">Número/Lote: </label>
              <input class="control input" readonly formControlName="numeroLote" placeholder="Número/Lote">
            </div>
            <div class="column">
              <label class="field label">Complemento: </label>
              <input class="control input" readonly formControlName="complemento" placeholder="Complemento">
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <label class="field label">Bairro: </label>
              <input class="control input" readonly formControlName="bairro" placeholder="Bairro" [disabled]="!endereco.get('cepInvalido')?.value" readonly>
            </div>
            <div class="column">
              <label class="field label">Localidade:</label>
              <input class="control input" readonly formControlName="localidade" placeholder="Localidade" [disabled]="!endereco.get('cepInvalido')?.value" readonly>
            </div>
            <div class="column is-one-fifth">
              <label class="field label">UF:</label>
              <input class="control input" readonly formControlName="uf" placeholder="UF"
              [disabled]="!endereco.get('cepInvalido')?.value" readonly>
            </div>
            <div class="column">
              <label class="field label">País:</label>
              <input class="control input" readonly formControlName="pais" placeholder="País"
              [disabled]="!endereco.get('cepInvalido')?.value" readonly>
            </div>
          </div>
          </div>
      </div>
    </div><!--
    <button type="submit" [disabled]="fornecedorForm.invalid">Salvar</button>
    -->
    <div class="container box">
      <div class="buttons">
        <button class="button is-text" (click)="verFornecedores()">Voltar a lista</button>
        <button class="button is-primary" (click)="editarFornecedor(fornecedor.id)">Editar</button>
        <button class="button is-danger" (click)="apagarFornecedor(fornecedor.id)">Apagar</button>
    </div>
  </div> 
  </form>
  