<div class="container box">
    <div class="columns">
        <div class="column">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                        <mat-label>Selecione um cliente</mat-label>
                        <input type="text"
                            placeholder="Pick one"
                            aria-label="Number"
                            matInput
                            [formControl]="myControl"
                            [matAutocomplete]="autoprod">
                            <mat-autocomplete #autoprod="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selecionarCliente($event.option.value)">
                            <mat-option *ngFor="let cliente of filteredOptions | async" [value]="cliente">
                                {{ cliente.nome }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
        </div>
        <div class="column">
        </div>
    </div>
</div>
<div class="field">

<div class="container">
<h1 id="lista-clientes-h1" class="title is-1">Lista de clientes</h1>
<table class="table is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data de Nascimento</th>
        <th>Sexo</th>
        <th>Email</th>
        <th>Ações</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.cpf }}</td>
        <td>{{ cliente.dataNascimento }}</td>
        <td>{{ cliente.sexo }}</td>
        <td>{{ cliente.email }}</td>
        <td>
          <button (click)="selecionarCliente(cliente)"><span class="icon is-small"><i class="mdi mdi-information"></i></span></button>
          <button (click)="editarCliente(cliente.id)"><span class="icon is-small"><i class="mdi mdi-pencil"></i></span></button>
          <button (click)="apagarCliente(cliente.id)"><span class="icon is-small"><i class="mdi mdi-delete"></i></span></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="box">
    <div class="button is-primary is-default">
      <button type="button" (click)="inserirCliente()">Inserir novo cliente</button>
   </div>
   <br>
   <br>
    <div>
        <a *ngIf="this.page !== 0" id="espacador-texto" class="is-right" (click)="paginar({ pageIndex: page - 1, pageSize: pageSize, length: totalRecords })">Anterior</a>
        <a *ngIf="this.page+1 !== totalPages" id="espacador-texto" (click)="this.page === totalPages-1" (click)="paginar({ pageIndex: page + 1, pageSize: pageSize, length: totalRecords})">Próxima</a>
        Página atual:
        <a>{{this.page+1}}</a>
        Total de páginas:
        <a>{{this.totalPages}}</a>    
    </div>

  </div>  
  
</div>
<br>