<h1 class="title is-1 centralizador">Cadastrar novo cliente</h1>
  <form [formGroup]="clienteForm" (ngSubmit)="salvarCliente()">
    <div class="container box">
    <h2 class="title is-3"> Dados pessoais </h2>
    <div class="columns">
      <div class="column">
      <label class="field label" for="nome">Nome:</label>
      <input class="control input" type="text" id="nome" formControlName="nome">  
      </div>
    </div>
    <div class="columns">
      <div class="column">
          <label class="field label" for="cpf">CPF:</label>
          <input class="control input" type="text" id="cpf" formControlName="cpf">
      </div>
      <div class="column">
        <label class="field label">Data de Nascimento:</label>
        <input class="control input" type="text" id="dataNascimento" formControlName="dataNascimento">
      </div>
      <div class="column">
        <label class="field label" for="sexo">Sexo:</label>
        <input class="control input" type="text" id="sexo" formControlName="sexo">
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <label class="field label" for="email">Email:</label>
        <input class="control input" type="email" id="email" formControlName="email">
      </div>
      <div class="column">
        <label class="field label" for="login">Nome de Usuário:</label>
        <input class="control input" type="text" id="login" formControlName="login">
      </div>
      <div class="column">
        <label class="field label" for="senha">Senha:</label>
        <input class="control input" type="password" id="senha" formControlName="senha">
      </div>
    </div>
    </div>
    
        <div class="container box">
          <h2 class="title is-3"> Telefones </h2>  
          <div formArrayName="telefones">
          <div *ngFor="let telefone of telefones.controls; let i = index" [formGroupName]="i">  
            <div class="columns">
              <div class="column">
                <label class="field label">DDD:</label>
                <input class="control input" formControlName="ddd" placeholder="Insira o DDD sem parênteses">
              </div> 
              <div class="column">
                <label class="field label">Número:</label>
                <input class="control input" formControlName="numeroTelefone" placeholder="Número de Telefone">
              </div>
              <div class="column">
                <label class="field label">Selecione tipo de telefone:</label>
                <div class="select">
                  <select formControlName="tipo">
                    <option disabled selected value="">Selecione um tipo de telefone</option>
                    <option *ngFor="let tipos of tiposTelefone" [value]="tipos.id">{{ tipos.descricao }}</option>
                  </select>
              </div>
              </div>
              <div class="column">
                <label class="field label">Ação</label>
                <div class="button is-default is-danger">
                <button type="button" (click)="removerTelefone(i)">Remover</button>
                </div>
              </div>
        </div>
        <br>
      </div>
      <div class="button is-primary is-default">
      <button type="button" (click)="adicionarTelefone()">Adicionar telefone</button>
    </div>
    </div>
    </div>
    
    <div class="container box">
      <h2 class="title is-3">Endereços</h2>  
      <div formArrayName="enderecos">
      <div *ngFor="let endereco of enderecos.controls; let i = index" [formGroupName]="i">
        <div class="columns">
          <div class="column">
            <label class="field label">Nome:</label>
            <input class="control input" formControlName="nome" placeholder="Nome">
          </div>
          <div class="column">
            <label class="field label">Logradouro:</label>
            <input class="control input" formControlName="logradouro" placeholder="Logradouro">
          </div>
          <div class="column is-one-quarter">
            <label class="field label">Número/Lote: </label>
            <input class="control input" formControlName="numeroLote" placeholder="Número/Lote">
          </div>
          </div>
          <div class="columns">
            <div class="column">
              <label class="field label">Bairro: </label>
              <input class="control input" formControlName="bairro" placeholder="Bairro">
            </div>
            <div class="column">
              <label class="field label">Complemento: </label>
              <input class="control input" formControlName="complemento" placeholder="Complemento">
            </div>
            </div>
            <div class="columns" [formGroupName]="'cep'">
                <div class="column">
                  <label class="field label">CEP Prefixo:</label>
                  <input class="control input" formControlName="prefixo" placeholder="CEP Prefixo">
                </div>
                <div class="column">
                  <label class="field label">CEP Sufixo:</label>
                  <input class="control input" formControlName="sufixo" placeholder="CEP Sufixo">
                </div>
                <div class="column">
                  <label class="field label">CEP:</label>
                  <input class="control input" formControlName="cep" placeholder="CEP">
                </div>  
          </div>
          <div class="columns">
            <div class="column">
              <label class="field label">Localidade</label>
              <input class="control input" formControlName="localidade" placeholder="Localidade">
            </div>
            <div class="column">
              <label class="field label">UF:</label>
              <div class="select">
                <select formControlName="uf">
                  <option disabled selected value="">Selecione um Estado</option>
                  <option *ngFor="let ufs of uf" [value]="ufs.sigla">{{ ufs.nome }}</option>
                </select>  
              </div>
            </div>
            <div class="column">
              <label class="field label">País</label>
              <input class="control input" formControlName="pais" placeholder="País">
            </div>
            <div class="column">                
              <label class="field label">Ação</label>
              <div class="button is-default is-danger">
                <button type="button" (click)="removerEndereco(i)">Remover</button>      
              </div>
            </div>
          </div>
      </div>
    </div>
    <br>
    <div class="button is-primary is-default">
     <button type="button" (click)="adicionarEndereco()">Adicionar Endereço</button>
    </div>
  <!--
    <button type="submit" [disabled]="fornecedorForm.invalid">Salvar</button>
    -->
  </div>
  <button type="submit">Salvar</button>
  <button (click)="cancelarInsercao()">Cancelar</button>
  </form>