<div class="container box">
    <div class="columns">
        <div class="column">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                        <mat-label>Selecione um produto</mat-label>
                        <input type="text"
                            placeholder="Pick one"
                            aria-label="Number"
                            matInput
                            [formControl]="myControl"
                            [matAutocomplete]="autoprod">
                            <mat-autocomplete #autoprod="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selecionarProduto($event.option.value)">
                            <mat-option *ngFor="let produto of filteredOptions | async" [value]="produto">
                                {{ produto.nome }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
        </div>
        <div class="column">
            <form class="exclass">
                <mat-form-field class="exfullclass">
                    <mat-label>Inserir Novos Produtos</mat-label>
                    <input type="text"
                        placeholder="Pick one"
                        aria-label="Number"
                        matInput
                        [formControl]="myControlClass"
                        [matAutocomplete]="autoclass">
                        <mat-autocomplete #autoclass="matAutocomplete" [displayWith]="displayClass" (optionSelected)="selecionarClassificacao($event.option.value)">
                        <mat-option *ngFor="let classificacao of filteredOptionsClass | async" [value]="classificacao">
                            {{ classificacao.nome }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>    
        </div>
    </div>
</div>
<div class="field">

<div class="container">
<h1 id="lista-produtos-h1" class="title is-1">Lista de produtos</h1>
<table class="table is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.modelo }}</td>
        <td>{{ produto.marca }}</td>
        <td>{{ produto.descricao }}</td>
        <td>{{ produto.quantidadeUnidades }}</td>
        <td>R$ {{ produto.valorVenda }}</td>
        <td>
          <button (click)="selecionarProduto(produto)"><span class="icon is-small"><i class="mdi mdi-information"></i></span></button>
          <button (click)="editarProduto(produto.id)"><span class="icon is-small"><i class="mdi mdi-pencil"></i></span></button>
          <button (click)="apagarProduto(produto.id)"><span class="icon is-small"><i class="mdi mdi-delete"></i></span></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="box">
    <div class="is-right">
        <a *ngIf="this.page !== 0" id="espacador-texto" class="is-right" (click)="paginar({ pageIndex: page - 1, pageSize: pageSize, length: totalRecords })">Anterior</a>
        <a *ngIf="this.page !== totalPages - 1" id="espacador-texto" (click)="this.page === totalPages-1" (click)="paginar({ pageIndex: page + 1, pageSize: pageSize, length: totalRecords})">Próxima</a>
        Página atual:
        <a>{{this.page+1}}</a>
        Total de páginas:
        <a>{{this.totalPages}}</a>    
    </div>
</div>  
</div>
<br>