.autocomplete-container {
    position: absolute;
    top: 5px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário */
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .toolbar-title {
      flex: 1;
      text-align: center;
    }
    
    .flex-container {
      display: flex;
      align-items: center;
      justify-content: space-between; /* Isso garante que o título e o botão permaneçam no canto esquerdo */
      width: 100%;
    }
    
    .mat-column-id {
      width: 5em;
      border-right: 1px solid currentColor;
      padding-right: 24px;
      text-align: center;
    }
    .mat-column-nomeFantasia {
      width: 20%;
    }
    .mat-column-cnpj {
      text-align: center;
      min-width: 5em;
    }
    .mat-column-endSite {
      text-align: center;
      min-width: 5em;
    }
    .mat-column-endereco {
      text-align: center;
      width: 20%;
    }
    .mat-column-telefone {
      text-align: center;
      min-width: 5em;
    }
    .mat-column-acao {
      text-align: center;
      min-width: 10em;
    }
