<form [formGroup]="produtoForm" (ngSubmit)="enviarDados()">
    <!-- <div class="autocomplete-container">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Selecione um produto</mat-label>
          <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="autoprod">
          <mat-autocomplete #autoprod="matAutocomplete" [displayWith]="displayFn"
            (optionSelected)="selecionarProduto($event.option.value)">
            <mat-option *ngFor="let produto of filteredOptions | async" [value]="produto">
              {{ produto.nome }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div> -->
    <h1 class="title is-1 centralizador">Procurar fornecedor do produto #{{produtoId}}</h1>
    <div class="container box">
      <div class="columns">
        <div class="column">
          <label class="field label" for="dataHoraVenda">Data e Hora da venda do Produto:</label>
          <input class="control input" type="datetime-local" formControlName="dataHoraVenda" id="dataHoraVenda">        
        </div>
      </div>
    </div>
    <div class="form-group">
    </div>
    <div class="container box">
      <div class="buttons">
        <button class="button is-primary" type="submit">Procurar</button>
      <button class="button is-text" (click)="cancelarInsercao()">Cancelar</button>
    </div>
  </div>     
    
</form>