<form [formGroup]="fornecedorForm" (ngSubmit)="salvarAlteracoes()">

  <input formControlName="nomeFantasia" placeholder="Nome da empresa">
  <input formControlName="cnpj" placeholder="cnpj">
  <input formControlName="endSite" placeholder="Endereço do Site">
   
     <!-- Campos de telefone -->
  <h3>Telefones:</h3>
    <div formArrayName="telefones">
      <div *ngFor="let telefone of telefones.controls; let i = index">
        <div [formGroupName]="i">
          <input formControlName="ddd" placeholder="DDD">
          <input formControlName="numeroTelefone" placeholder="Número">
          <select formControlName="tipo">
            <option disabled selected value="">Selecione um tipo de telefone</option>
            <option *ngFor="let tipos of tiposTelefone" [value]="tipos.id">{{ tipos.descricao }}</option>
          </select>
    
          <button type="button" (click)="removerTelefone(i)">Remover</button>
        </div>
      </div>
    </div>
    <button type="button" (click)="adicionarTelefone()">Adicionar Telefone</button>

      <!-- Campos de endereço -->
    <h3>Endereços:</h3>
  <div formArrayName="enderecos">
    <div *ngFor="let endereco of enderecos.controls; let i = index">
      <div [formGroupName]="i">
        <input formControlName="nome" placeholder="Nome">
        <input formControlName="logradouro" placeholder="Logradouro">
        <input formControlName="numeroLote" placeholder="Numero/Lote">
        <input formControlName="bairro" placeholder="Bairro">
        <input formControlName="complemento" placeholder="Complemento">
         <div [formGroupName]="'cep'">
          <input formControlName="prefixo" placeholder="CEP Prefixo">
          <input formControlName="sufixo" placeholder="CEP Sufixo">
          <input formControlName="cep" placeholder="CEP">
         </div>   
        <input formControlName="localidade" placeholder="Localidade">
        <select formControlName="uf">
          <option disabled selected value="">Selecione um Estado</option>
          <option *ngFor="let ufs of uf" [value]="ufs.sigla">{{ ufs.nome }}</option>
        </select>  
        <input formControlName="pais" placeholder="País">
        <button type="button" (click)="removerEndereco(i)">Remover</button>
      </div>
    </div>
  </div>
    <!-- Botão para adicionar endereço -->
    <button type="button" (click)="adicionarEndereco()">Adicionar Endereço</button>

    <!-- Outros campos do formulário para outros dados do fornecedor -->
    <button type="submit">Salvar Alterações</button>
    <button (click)="cancelarEdicao()">Cancelar</button>
  </form>
  