// Set your brand colors
$purple: #8f00d1;
$purple-lighter: #cd50ff;
$brown: #616161;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Inter", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $purple,
  $link: $purple-lighter,
  $control-border-width: 2px,
  $input-shadow: none
);

// Import the Google Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');