<h1 class="title is-1 centralizador">Ver funcionário #{{funcionario.id}}</h1>
  <form [formGroup]="funcionarioForm">
    <div class="container box">
      <h2 class="title is-3"> Dados pessoais </h2>
      <div class="columns">
        <div class="column">
        <label class="field label" for="nome">Nome:</label>
        <input class="control input" type="text" id="nome" readonly formControlName="nome">  
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <label class="field label" for="cpf">CPF:</label>
            <input class="control input" type="text" id="cpf" readonly formControlName="cpf">
        </div>
        <div class="column">
          <label class="field label">Data de Nascimento:</label>
          <input class="control input" type="text" id="dataNascimento" readonly formControlName="dataNascimento">
        </div>
        <div class="column">
          <label class="field label" formControlName="sexo">Sexo:</label>
          <div class="select" id="seletor-especial">
            <select formControlName="sexo">
              <option disabled selected value="">Selecione um sexo:ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</option>
              <option disabled value="M">Masculino</option>
              <option disabled value="F">Feminino</option>
              <option disabled value="O">Outros</option>
            </select>
          </div>
        </div>
        <div class="column">
          <label class="field label">Perfil:</label>
          <div class="select">
            <select formControlName="idperfil">
              <option disabled selected value="">Selecione um tipo de perfil:ㅤㅤ</option>
              <option disabled *ngFor="let tipo of tiposPerfil" [value]="tipo.id">{{ tipo.label }}</option>
            </select>
        </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <label class="field label" for="email">Email:</label>
          <input class="control input" type="email" id="email" readonly formControlName="email">
        </div>
        <div class="column">
          <label class="field label" for="login">Nome de Usuário:</label>
          <input class="control input" type="text" id="login" readonly formControlName="login">
        </div>
      </div>
      </div>
      
          <div class="container box">
            <h2 class="title is-3"> Telefones </h2>  
            <div formArrayName="telefones">
            <div *ngFor="let telefone of telefones.controls; let i = index" [formGroupName]="i">  
              <div class="columns">
                <div class="column">
                  <label class="field label">DDD:</label>
                  <input class="control input" type="text" formControlName="ddd" placeholder="Insira o DDD sem parênteses" inputmode="numeric" mask="(00)" id="ddd" readonly>
                </div> 
                <div class="column">
                  <label class="field label">Número:</label>
                  <input class="control input" formControlName="numeroTelefone" placeholder="Número de Telefone" mask="00000-0000" id="numeroTelefone" readonly>
                </div>
                <div class="column">
                  <label class="field label">Selecione tipo de telefone:</label>
                  <div class="select">
                    <select formControlName="tipo">
                      <option disabled selected value="">Selecione um tipo de telefone: ㅤㅤㅤㅤㅤㅤㅤㅤㅤ</option>
                      <option disabled *ngFor="let tipos of tiposTelefone" [value]="tipos.id">{{ tipos.descricao }}</option>
                    </select>
                </div>
                </div>
          </div>
        </div>
      </div>
      </div>
      
      <div class="container box">
        <h2 class="title is-3">Endereço</h2>  
        <div formArrayName="endereco">
              <div class="columns">
                <div class="column is-one-quarter">
                  <label class="field label">CEP:</label>
                  <input class="control input" readonly formControlName="cep" inputmode="numeric" mask="00000-000" placeholder="Ex: 00000-000">
                  <div *ngIf="endereco.get('cep')?.touched && endereco.get('cepInvalido')?.value">
                    <p class="help is-danger">CEP inválido.</p>    
                  </div>    
                </div>  
                <div class="column">
                  <label class="field label">Logradouro:</label>
                  <input class="control input" readonly formControlName="logradouro" placeholder="Logradouro (será preenchido automaticamente)"
                  [disabled]="!endereco.get('cepInvalido')?.value" readonly>
                </div>
              </div>
              <div class="columns">
                <div class="column is-one-fifth">
                  <label class="field label">Número/Lote: </label>
                  <input class="control input" readonly formControlName="numeroLote" placeholder="Número/Lote">
                </div>
                <div class="column">
                  <label class="field label">Complemento: </label>
                  <input class="control input" readonly formControlName="complemento" placeholder="Complemento">
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <label class="field label">Bairro: </label>
                  <input class="control input" readonly formControlName="bairro" placeholder="Bairro" [disabled]="!endereco.get('cepInvalido')?.value" readonly>
                </div>
                <div class="column">
                  <label class="field label">Localidade:</label>
                  <input class="control input" readonly formControlName="localidade" placeholder="Localidade" [disabled]="!endereco.get('cepInvalido')?.value" readonly>
                </div>
                <div class="column is-one-fifth">
                  <label class="field label">UF:</label>
                  <input class="control input" readonly formControlName="uf" placeholder="UF"
                  [disabled]="!endereco.get('cepInvalido')?.value" readonly>
                </div>
                <div class="column">
                  <label class="field label">País:</label>
                  <input class="control input" readonly formControlName="pais" placeholder="País"
                  [disabled]="!endereco.get('cepInvalido')?.value" readonly>
                </div>
              </div>
          </div>
    <!--
      <button type="submit" [disabled]="fornecedorForm.invalid">Salvar</button>
      -->
    </div>
    <div class="container box">
      <div class="buttons">
        <button class="button is-text" (click)="verFuncionarios()">Voltar a lista</button>
        <button class="button is-primary" (click)="editarFuncionario(funcionario.id)">Editar</button>
        <button class="button is-danger" (click)="apagarFuncionario(funcionario.id)">Apagar</button>
    </div>
  </div> 
</form>