   <app-header-home></app-header-home>
<!-- carrinho.component.html -->
<ng-container *ngIf="carrinhoItens.length > 0; else carrinhoVazio">
    <div *ngFor="let item of carrinhoItens" class="carrinho-item">
      <td>
        <img
          mat-card-image
          [src]="item.urlImagem"
          style="max-width: 50px; max-height: 50px; object-fit: cover"
        />
      </td>

      <td>{{ item.nome }}</td>
      <td>Preço: {{ item.preco }}</td>
      <td> Quantidade:
        <button (click)="diminuirQuantidade(item)">-</button>
        {{ item.quantidade }}
        <button (click)="aumentarQuantidade(item)">+</button>
      </td>
      <td>Total: {{ item.quantidade * item.preco }}</td>
      <td><button mat-raised-button color="warn" (click)="removerItem(item)">Remover do Carrinho</button></td>
    </div>


   
    <div class="box">
      <h2 class="title is-3">Endereços</h2>
      <form [formGroup]="clienteForm"> 
      <div formArrayName="enderecos">
      <div *ngFor="let endereco of enderecos.controls; let i = index" [formGroupName]="i">
        <div class="columns">
          <div class="column">
            <input type="radio" name="selectedAddress" [(ngModel)]="selectedAddress" [value]="i">
            <label class="field label">Nome do endereço:</label>
            <input class="control input" formControlName="nome" placeholder="Nome para este endereço:">
          </div>
          <div class="column is-one-quarter">
            <label class="field label">CEP:</label>
            <input class="control input" formControlName="cep" inputmode="numeric" mask="00000-000" placeholder="Ex: 00000-000">
            <div *ngIf="endereco.get('cep')?.touched && endereco.get('cepInvalido')?.value">
              <p class="help is-danger">CEP inválido.</p>    
            </div>    
          </div>  
        </div>
          <div class="columns">
            <div class="column">
              <label class="field label">Logradouro:</label>
              <input class="control input" formControlName="logradouro" placeholder="Logradouro (será preenchido automaticamente)"
              [disabled]="!endereco.get('cepInvalido')?.value" readonly>
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-fifth">
              <label class="field label">Número/Lote: </label>
              <input class="control input" formControlName="numeroLote" placeholder="Número/Lote">
            </div>
            <div class="column">
              <label class="field label">Complemento: </label>
              <input class="control input" formControlName="complemento" placeholder="Complemento">
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <label class="field label">Bairro: </label>
              <input class="control input" formControlName="bairro" placeholder="Bairro" [disabled]="!endereco.get('cepInvalido')?.value" readonly>
            </div>
            <div class="column">
              <label class="field label">Localidade:</label>
              <input class="control input" formControlName="localidade" placeholder="Localidade" [disabled]="!endereco.get('cepInvalido')?.value" readonly>
            </div>
            <div class="column is-one-fifth">
              <label class="field label">UF:</label>
              <input class="control input" formControlName="uf" placeholder="UF"
              [disabled]="!endereco.get('cepInvalido')?.value" readonly>
            </div>
            <div class="column">
              <label class="field label">País:</label>
              <input class="control input" formControlName="pais" placeholder="País"
              [disabled]="!endereco.get('cepInvalido')?.value" readonly>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="notification is-info">
                Os dados de Logradouro, Bairro, Localidade, UF e País são preenchidos com base no seu CEP. Caso tenha alguma dificuldade, busque seu CEP através do site: <a target="_blank" href='https://buscacepinter.correios.com.br/app/endereco/index.php' >Busca CEP (dos correios)</a>
              </div>              
            </div>
          </div>
          <div class="columns">
            <div class="column">                
              <div class="button is-default is-danger">
                <button type="button" (click)="removerEndereco(i)">Remover endereço</button>      
              </div>
              <br><br>
            </div>
          </div>
          </div>
      </div>
      <div class="button is-primary is-default">
        <button type="button" (click)="adicionarEndereco()">Adicionar endereço</button>
       </div>
      </form> 
    </div>
  








    <p>Total do Carrinho: {{ calcularTotal() }}</p>
    <button mat-raised-button color="primary" (click)="finalizarCompra()" >Finalizar Compra</button>
  </ng-container>
  <ng-template #carrinhoVazio>
    <p>O carrinho está vazio.</p>
  </ng-template>