.centralizador
{
    text-align: center;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  
  input[type="datetime-local"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }