      <div class="box">
        <div class="columns">
            <div class="column">
                <!-- <form class="example-form">
                    <mat-form-field class="example-full-width">
                            <mat-label>Selecione um funcionario</mat-label>
                            <input type="text"
                                placeholder="Pick one"
                                aria-label="Number"
                                matInput
                                [formControl]="myControl"
                                [matAutocomplete]="autoprod">
                                <mat-autocomplete #autoprod="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selecionarFuncionario($event.option.value)">
                                <mat-option *ngFor="let funcionario of filteredOptions | async" [value]="funcionario">
                                    {{ funcionario.nome }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form> -->
                    <input class="control input" type="text" [(ngModel)]="searchText" (input)="buscarFuncionario()" placeholder="Procure um funcionário">
                    <aside class="menu">
                      <ul class="menu-list" *ngIf="filteredFuncionarios.length">
                        <li *ngFor="let func of filteredFuncionarios" (click)="selecionarFuncionario(func)">
                            <a>{{ func.nome }}</a>
                        </li>
                    </ul>
                    </aside>  
            </div>
            <div class="column">
              <div class="button is-primary is-default is-fullwidth">
                <button type="button" (click)="inserirFuncionario()">Inserir novo funcionario</button>
             </div>
            </div>
        </div>
    </div>
    <div class="box">
      <h1 id="lista-funcionarios-h1" class="title is-1">Lista de funcionários</h1>
        <div class="table-container">
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th >CPF</th>
                <th>Data de Nascimento</th>
                <th>Sexo</th>
                <th>Email</th>
                <th>Ações</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let funcionario of funcionarios">
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ formatarCPF(funcionario.cpf) }}</td>
                <td>{{ formatarData(funcionario.dataNascimento) }}</td>
                <td>{{ formatarSexo(funcionario.sexo) }}</td>
                <td>{{ funcionario.email }}</td>
                <td>
                  <button (click)="selecionarFuncionario(funcionario)"><span class="icon is-small"><i class="mdi mdi-information"></i></span></button>
                  <button (click)="editarFuncionario(funcionario.id)"><span class="icon is-small"><i class="mdi mdi-pencil"></i></span></button>
                  <button (click)="apagarFuncionario(funcionario.id)"><span class="icon is-small"><i class="mdi mdi-delete"></i></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>  
    <div class="box">
      <div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <a *ngIf="this.page !== 0" id="espacador-texto" class="is-right" (click)="paginar({ pageIndex: page - 1, pageSize: pageSize, length: totalPages })">Anterior</a>
              <a *ngIf="this.page+1 !== totalPages" id="espacador-texto" (click)="this.page === totalPages-1" (click)="paginar({ pageIndex: page + 1, pageSize: pageSize, length: totalPages})">Próxima</a>    
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">Página atual:</div>
            <div class="level-item"><a>{{this.page+1}}</a></div>
            <div class="level-item">Total de páginas:</div>
            <div class="level-item"><a>{{this.totalPages}}</a></div>
            <div class="level-item">ㅤ</div>
            <div class="level-item">Itens por página:</div>
            <div class="level-item">
              <div class="select">
                <select (change)="onChange($event)">
                  <option selected value="2">2</option>
                  <option value="4">4</option>
                  <option value="8">8</option>
                  <option value="16">16</option>
                </select>
              </div>  
            </div>
          </div>
        </nav>  
        </div>
    </div> 