<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column content">
                <h3>Links importantes:</h3>
                <p><a href="#">Início</a></p>
                <p><a href="/carrinho">Carrinho</a></p>
                <p><a href="/user/pedidos">Ver pedidos</a></p>
            </div>
            <div class="column content">
                <h3>Conta:</h3>
                <p><a href="/login/user">Logar como usuário</a></p>
                <p><a href="/login/adm">Logar como funcionário</a></p>
                <p><a href="/new/user">Cadastrar novo usuário</a></p>
            </div>
            <div class="column content">
                <h3>Suporte:</h3>
                <p>lucasdaniel&#64;unitins.br</p>
                <p>(63) 99963-2459</p>
            </div>
        </div>
    </div>
    <br>
    <div class="content has-text-centered">
        <h1 id="footer-h1">&copy; 2024 Hardstop</h1>
        <p id="footer-p">Desenvolvido por Lucas Daniel e Leandro Garcia na disciplina de <a href="https://www.unitins.br/nPortal/sistemas-de-informacao-palmas">Tópicos 2</a> – 2024</p>
    </div>
  </footer>
