<form [formGroup]="processadorForm">
    <div class="container box">
      <h1 class="title is-2 centralizador">Dados de processador:</h1>
      <div class="columns">
        <div class="column">
          <label class="field label" for="soquete">Soquete:</label>
          <input class="control input" type="text" formControlName="soquete" id="soquete" readonly>
        </div>
        <div class="column">
          <label class="field label" for="pistas">Pistas:</label>
          <input class="control input" type="text" formControlName="pistas" id="pistas" readonly>
        </div>
        <div class="column">
          <label class="field label" for="bloqueado">Bloqueado:</label>
          <input class="control input" type="text" formControlName="bloqueado" id="bloqueado" readonly>
        </div>
        <div class="column">
          <label class="field label" for="compatibilidadeChipset">Compatibilidade Chipset:</label>
          <input class="control input" type="text" formControlName="compatibilidadeChipset" id="compatibilidadeChipset" readonly>
        </div>
        <div class="column">
          <label class="field label" for="canaisMemoria">Canais de Memória:</label>
          <input class="control input" type="text" formControlName="canaisMemoria" id="canaisMemoria" readonly>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <label class="field label" for="capacidadeMaxMemoria">Capacidade Máxima de Memória:</label>
          <input class="control input" type="text" formControlName="capacidadeMaxMemoria" id="capacidadeMaxMemoria" readonly>
        </div>
        <div class="column">
          <label class="field label" for="pontenciaBase">Potência Base:</label>
          <input class="control input" type="text" formControlName="pontenciaBase" id="pontenciaBase" readonly>
        </div>
        <div class="column">
          <label class="field label" for="potenciaMaxima">Potência Máxima:</label>
          <input class="control input" type="text" formControlName="potenciaMaxima" id="potenciaMaxima" readonly>
        </div>    
        <div class="column">
          <label class="field label" for="frequenciaBase">Frequência Base:</label>
          <input class="control input" type="text" formControlName="frequenciaBase" id="frequenciaBase" readonly>
        </div>    
      </div>  
      <div class="columns">
        <div class="column">
          <label class="field label" for="frequenciaMaxima">Frequência Máxima:</label>
          <input class="control input" type="text" formControlName="frequenciaMaxima" id="frequenciaMaxima" readonly>
        </div>  
        <div class="column">
          <label class="field label" for="tamanhoCacheL3">Tamanho Cache L3:</label>
          <input class="control input" type="text" formControlName="tamanhoCacheL3" id="tamanhoCacheL3" readonly>
        </div>    
        <div class="column">
          <label class="field label" for="tamanhoCacheL2">Tamanho Cache L2:</label>
          <input class="control input" type="text" formControlName="tamanhoCacheL2" id="tamanhoCacheL2" readonly>
        </div>    
        <div class="column">
          <label class="field label" for="numNucleosFisicos">Número de Núcleos Físicos:</label>
          <input class="control input" type="text" formControlName="numNucleosFisicos" id="numNucleosFisicos" readonly>
        </div>
        <div class="column">
          <label class="field label" for="numThreads">Número de Threads:</label>
          <input class="control input" type="text" formControlName="numThreads" id="numThreads" readonly>
        </div>  
      </div>
      <div class="columns">
        <div class="column">
          <label class="field label" for="velMaxMemoria">Velocidade Máxima de Memória:</label>
          <input class="control input" type="text" formControlName="velMaxMemoria" id="velMaxMemoria" readonly>
        </div>
        <div class="column">
          <label class="field label" for="conteudoEmbalagem">Conteúdo da Embalagem:</label>
          <input class="control input" type="text" formControlName="conteudoEmbalagem" id="conteudoEmbalagem" readonly>
        </div>
      </div>
    </div>
  </form>
  