<div class="container">
  <div class="columns">
    <div class="column is-one-fifth">
      <div class="box">
        <p class="title is-4">Painel Administrativo</p>
        <aside class="menu">
          <p class="menu-label">Gestão de pessoas</p>
            <ul class="menu-list">
              <li><a class="is-active">Clientes</a></li>
              <li><a (click)="navegarParaFuncionario()">Funcionários</a></li>
            </ul>
          <p class="menu-label">Gestão de produtos</p>
            <ul class="menu-list">
              <li><a (click)="navegarParaProdutos()">Produtos</a></li>
              <li><a (click)="navegarParaFornecedor()">Fornecedores</a></li>
            </ul>
        </aside>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <div class="columns">
            <div class="column">
                    <input class="control input" type="text" [(ngModel)]="searchText" (input)="buscarCliente()" placeholder="Procure um cliente">
                    <aside class="menu">
                      <ul class="menu-list" *ngIf="filteredClientes.length">
                        <li *ngFor="let cliente of filteredClientes" (click)="selecionarCliente(cliente)">
                            <a>{{ cliente.nome }}</a>
                        </li>
                    </ul>
                    </aside>      
            </div>
            <div class="column">
              <div class="button is-primary is-default is-fullwidth">
                <button type="button" (click)="inserirCliente()">Inserir novo cliente</button>
             </div>        
            </div>
        </div>
    </div>
    <div class="field">
    <div class="box">
      <h1 id="lista-clientes-h1" class="title is-1">Lista de clientes</h1>
    <div class="table-container">
    <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>
            <th>Sexo</th>
            <th>Email</th>
            <th>Ações</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ formatarCPF(cliente.cpf) }}</td>
            <td>{{ formatarData(cliente.dataNascimento) }}</td>
            <td>{{ formatarSexo(cliente.sexo) }}</td>
            <td>{{ cliente.email }}</td>
            <td>
              <button (click)="selecionarCliente(cliente)"><span class="icon is-small"><i class="mdi mdi-information"></i></span></button>
              <button (click)="editarCliente(cliente.id)"><span class="icon is-small"><i class="mdi mdi-pencil"></i></span></button>
              <button (click)="apagarCliente(cliente.id)"><span class="icon is-small"><i class="mdi mdi-delete"></i></span></button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="box">
      <div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <a *ngIf="this.page !== 0" id="espacador-texto" class="is-right" (click)="paginar({ pageIndex: page - 1, pageSize: pageSize, length: totalPages })">Anterior</a>
              <a *ngIf="this.page+1 !== totalPages" id="espacador-texto" (click)="this.page === totalPages-1" (click)="paginar({ pageIndex: page + 1, pageSize: pageSize, length: totalPages})">Próxima</a>    
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">Página atual:</div>
            <div class="level-item"><a>{{this.page+1}}</a></div>
            <div class="level-item">Total de páginas:</div>
            <div class="level-item"><a>{{this.totalPages}}</a></div>
            <div class="level-item">ㅤ</div>
            <div class="level-item">Itens por página:</div>
            <div class="level-item">
              <div class="select">
                <select (change)="onChange($event)">
                  <option selected value="2">2</option>
                  <option value="4">4</option>
                  <option value="8">8</option>
                  <option value="16">16</option>
                </select>
              </div>  
            </div>
          </div>
        </nav>  
      </div>
    </div>  
    <div *ngIf="errorDetails">
      <div class="box notification is-danger">
        <div class="columns">
          <div class="column">
            <div>
              <p><b>{{errorDetails.status}}:</b> {{errorDetails.statusText}}</p>
            </div>    
          </div>
        </div>
      </div>   
    </div>
    </div>
  </div>
</div>