<nav class="navbar navbar mb-6" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 id="hardstoplogo">HARDSTOP</h1>
      </a>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <div *ngIf="!admLogado" class="navbar-item">
        </div>
      </div>
      <div class="navbar-end">
      <!--  <a class="navbar-item">Favoritos</a> -->
        <a class="navbar-item" [routerLink]="carrinhoRoute">
          <span class="icon is-small"><i class="mdi mdi-24px mdi-cart"></i></span><b class="badge">{{carrinhoSize}}</b>
        </a>
        <div *ngIf="!admLogado && !clienteLogado">
          <div class="navbar-item"> 
            <div class="buttons">
              <a href='/login/user' class="button is-light">Login</a>
            </div>
          </div>
        </div>
        <div *ngIf="admLogado">
          <div class="navbar-item">
            <div class="buttons">
              <a href='/adm/clientes' class="button is-light">Painel</a>
              <a href='/login/adm' (click)="deslogarUsuario()" class="button is-danger">Deslogar</a>
            </div>
          </div>
        </div>
        <div *ngIf="clienteLogado">
          <div class="navbar-item is-hoverable">
            <div class="has-dropdown">
            <a class="navbar-link">{{clienteLogado.nome || 'Cliente Desconhecido'}}</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href='/user/edit'>Editar Cadastro</a>
              <a class="navbar-item" href='/user/senha'>Editar Senha</a>
              <a class="navbar-item" href="/user/favoritos">Favoritos</a>
              <a class="navbar-item" href="/user/pedidos">Meus Pedidos</a>
              <a class="navbar-item" href='/login/user' (click)="deslogarUsuario()">Sair</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
