<nav class="navbar navbar mb-6" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 id="hardstoplogo">HARDSTOP</h1>
      </a>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <div *ngIf="!admLogado" class="navbar-item">
          <div class="field has-addons">
            <p class="control"> 
              <input class="input" type="text" placeholder="Procure um produto" [formControl]="buscadorForm">  <!-- Correção aqui -->
            </p>
            <p class="control">
              <button class="button" (click)="buscarProduto()">Pesquise</button>
            </p>
          </div>
        </div>
      </div>
      <div class="navbar-end">
      <!--  <a class="navbar-item">Favoritos</a> -->
        <a class="navbar-item" [routerLink]="carrinhoRoute">
          <span class="icon is-small"><i class="mdi mdi-24px mdi-cart"></i></span><b class="badge">{{carrinhoSize}}</b>
        </a>
        <div *ngIf="!admLogado && !clienteLogado">
          <div class="navbar-item"> 
            <div class="buttons">
              <a href='/login/user' class="button is-light">Login</a>
            </div>
          </div>
        </div>
        <div *ngIf="admLogado">
          <div class="navbar-item">
            <div class="buttons">
              <a href='/adm/clientes' class="button is-light">Painel</a>
              <a href='/login/adm' (click)="deslogarUsuario()" class="button is-danger">Deslogar</a>
            </div>
          </div>
        </div>
        <div *ngIf="clienteLogado">
          <div class="navbar-item">
            <div class="buttons">
            <!-- <a href='/user/edit' class="button is-light">Painel</a>
              <a href='/login/user' (click)="deslogarUsuario()" class="button is-danger">Deslogar</a> --> 

              <div class="balao-container" (mouseover)="mostrarBalao = true" (mouseleave)="mostrarBalao = false">
                <span>{{clienteLogado.nome || 'Cliente Desconhecido'}}</span>
                <div class="balao-conteudo" *ngIf="mostrarBalao">
                  <ul>
                    <li><a href='/user/edit'>Editar Cadastro</a></li>
                    <li><a href='/user/senha'>Editar Senha</a></li>
                    <li><a href="favoritos">Favoritos</a></li>
                    <li><a href="/pedidos">Meus Pedidos</a></li>
                    <li><a href='/login/user' (click)="deslogarUsuario()">Sair</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
