<form [formGroup]="placaMaeForm" class="placa-mae-form">
  <div class="form-group">
    <label for="cpu">CPU:</label>
    <input type="text" formControlName="cpu" id="cpu">
  </div>

  <div class="form-group">
    <label for="chipset">Chipset:</label>
    <input type="text" formControlName="chipset" id="chipset">
  </div>

  <div class="form-group">
    <label for="memoria">Memória:</label>
    <input type="text" formControlName="memoria" id="memoria">
  </div>

  <div class="form-group">
    <label for="bios">BIOS:</label>
    <input type="text" formControlName="bios" id="bios">
  </div>

  <div class="form-group">
    <label for="grafico">Gráfico:</label>
    <input type="text" formControlName="grafico" id="grafico">
  </div>

  <div class="form-group">
    <label for="lan">LAN:</label>
    <input type="text" formControlName="lan" id="lan">
  </div>

  <div class="form-group">
    <label for="slots">Slots:</label>
    <input type="text" formControlName="slots" id="slots">
  </div>

  <div class="form-group">
    <label for="armazenamento">Armazenamento:</label>
    <input type="text" formControlName="armazenamento" id="armazenamento">
  </div>
</form>
