<h1 class="title is-1 centralizador">Cadastrar novo fornecedor</h1>
<form [formGroup]="fornecedorForm" (ngSubmit)="salvarFornecedor()">
  <div class="container box">
  <h2 class="title is-3">Dados da empresa:</h2>
    <div class="columns">
      <div class="column">
        <label class="field label" for="nomeFantasia">Nome Fantasia:</label>
        <input class="control input" type="text" id="nomeFantasia" formControlName="nomeFantasia">      
      </div>
      <div class="column">
        <label class="field label" for="cnpj">CNPJ:</label>
        <input class="control input" type="text" id="cnpj" formControlName="cnpj">      
      </div>
      <div class="column">
        <label class="field label" for="endSite">Site:</label>
        <input class="control input" type="text" id="endSite" formControlName="endSite"><br>      
      </div>
    </div>
  </div>
  <div class="container box">
  <h2 class="title is-3" for="telefones">Telefones:</h2>
  <div formArrayName="telefones">
    <div *ngFor="let telefone of telefones.controls; let i = index" [formGroupName]="i">
      <div class="columns">
        <div class="column">
          <label class="field label">DDD:</label>
          <input class="control input" formControlName="ddd" placeholder="Insira o DDD sem parênteses">
        </div> 
        <div class="column">
          <label class="field label">Número:</label>
          <input class="control input" formControlName="numeroTelefone" placeholder="Número de Telefone">
        </div>
        <div class="column">
          <label class="field label">Selecione tipo de telefone:</label>
          <div class="select" > 
            <!-- id="seletor-especial" -->
            <select formControlName="tipo">
              <option disabled selected value="">Selecione um tipo de telefone</option>
              <option *ngFor="let tipo of tiposTelefone" [value]="tipo.id">{{ tipo.descricao }}</option>
            </select>
        </div>
        </div>
        <div class="column">
          <label class="field label">Ação</label>
          <div class="button is-default is-danger">
          <button type="button" (click)="removerTelefone(i)">Remover</button>
          </div>
    </div>
  </div>
  <br>
  </div>
  </div>
  <div class="button is-primary is-default">
    <button type="button" (click)="adicionarTelefone()">Adicionar telefone</button>
  </div>
  </div>
  <div class="container box">
    <h2 class="title is-3">Endereços</h2>  
    <div formArrayName="enderecos">
    <div *ngFor="let endereco of enderecos.controls; let i = index" [formGroupName]="i">
      <div class="columns">
        <div class="column">
          <label class="field label">Nome do endereço:</label>
          <input class="control input" formControlName="nome" placeholder="Nome para este endereço:">
        </div>
        <div class="column is-one-quarter">
          <label class="field label">CEP:</label>
          <input class="control input" formControlName="cep" inputmode="numeric" mask="00000-000" placeholder="Ex: 00000-000">
          <div *ngIf="endereco.get('cep')?.touched && endereco.get('cepInvalido')?.value">
            <p class="help is-danger">CEP inválido.</p>    
          </div>    
        </div>  
      </div>
        <div class="columns">
          <div class="column">
            <label class="field label">Logradouro:</label>
            <input class="control input" formControlName="logradouro" placeholder="Logradouro (será preenchido automaticamente)"
            [disabled]="!endereco.get('cepInvalido')?.value" readonly>
          </div>
        </div>
        <div class="columns">
          <div class="column is-one-fifth">
            <label class="field label">Número/Lote: </label>
            <input class="control input" formControlName="numeroLote" placeholder="Número/Lote">
          </div>
          <div class="column">
            <label class="field label">Complemento: </label>
            <input class="control input" formControlName="complemento" placeholder="Complemento">
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label class="field label">Bairro: </label>
            <input class="control input" formControlName="bairro" placeholder="Bairro" [disabled]="!endereco.get('cepInvalido')?.value" readonly>
          </div>
          <div class="column">
            <label class="field label">Localidade:</label>
            <input class="control input" formControlName="localidade" placeholder="Localidade" [disabled]="!endereco.get('cepInvalido')?.value" readonly>
          </div>
          <div class="column is-one-fifth">
            <label class="field label">UF:</label>
            <input class="control input" formControlName="uf" placeholder="UF"
            [disabled]="!endereco.get('cepInvalido')?.value" readonly>
          </div>
          <div class="column">
            <label class="field label">País:</label>
            <input class="control input" formControlName="pais" placeholder="País"
            [disabled]="!endereco.get('cepInvalido')?.value" readonly>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="notification is-info">
              Os dados de Logradouro, Bairro, Localidade, UF e País são preenchidos com base no seu CEP. Caso tenha alguma dificuldade, busque seu CEP através do site: <a target="_blank" href='https://buscacepinter.correios.com.br/app/endereco/index.php' >Busca CEP (dos correios)</a>
            </div>              
          </div>
        </div>
        <div class="columns">
          <div class="column">                
            <div class="button is-default is-danger">
              <button type="button" (click)="removerEndereco(i)">Remover endereço</button>      
            </div>
            <br><br>
          </div>
        </div>
        </div>
    </div>
    <div class="button is-primary is-default">
      <button type="button" (click)="adicionarEndereco()">Adicionar endereço</button>
     </div>
  </div><!--
  <button type="submit" [disabled]="fornecedorForm.invalid">Salvar</button>
  -->
  <div class="container box">
    <div class="buttons">
      <button class="button is-primary" type="submit">Salvar</button>
    <button class="button is-text" (click)="cancelarInsercao()">Cancelar</button>
  </div>
</div> 
</form>