<form [formGroup]="fornecedorForm" (ngSubmit)="salvarFornecedor()">
  <label for="nomeFantasia">Nome Fantasia:</label>
  <input type="text" id="nomeFantasia" formControlName="nomeFantasia">

  <label for="cnpj">CNPJ:</label>
  <input type="text" id="cnpj" formControlName="cnpj">

  <label for="endSite">Site:</label>
  <input type="text" id="endSite" formControlName="endSite"><br>

  <label for="telefones">TELEFONES:</label>
  <div formArrayName="telefones">
    <div *ngFor="let telefone of telefones.controls; let i = index" [formGroupName]="i">
      <input formControlName="ddd" placeholder="DDD">
      <input formControlName="numeroTelefone" placeholder="Número de Telefone">
      <select formControlName="tipo">
        <option disabled selected value="">Selecione um tipo de telefone</option>
        <option *ngFor="let tipos of tiposTelefone" [value]="tipos.id">{{ tipos.descricao }}</option>
      </select>
      <button type="button" (click)="removerTelefone(i)">Remover</button>
    </div>
    <button type="button" (click)="adicionarTelefone()">Adicionar Telefone</button>
  </div>

  <label for="enderecos">ENDEREÇOS:</label>
  <div formArrayName="enderecos">
    <div *ngFor="let endereco of enderecos.controls; let i = index" [formGroupName]="i">
      <input formControlName="nome" placeholder="Nome">
      <input formControlName="logradouro" placeholder="Logradouro">
      <input formControlName="numeroLote" placeholder="Número/Lote">
      <input formControlName="bairro" placeholder="Bairro">
      <input formControlName="complemento" placeholder="Complemento">
      <div [formGroupName]="'cep'">
        <input formControlName="prefixo" placeholder="CEP Prefixo">
        <input formControlName="sufixo" placeholder="CEP Sufixo">
        <input formControlName="cep" placeholder="CEP">
      </div>
      <input formControlName="localidade" placeholder="Localidade">
      <select formControlName="uf">
        <option disabled selected value="">Selecione um Estado</option>
        <option *ngFor="let ufs of uf" [value]="ufs.sigla">{{ ufs.nome }}</option>
      </select>
      <input formControlName="pais" placeholder="País">
      <button type="button" (click)="removerEndereco(i)">Remover</button>
    </div>
    <button type="button" (click)="adicionarEndereco()">Adicionar Endereço</button>
  </div>
<!--
  <button type="submit" [disabled]="fornecedorForm.invalid">Salvar</button>
  -->
  <button type="submit">Salvar</button>
  <button (click)="cancelarInsercao()">Cancelar</button>
</form>