<nav class="navbar mb-6" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <button (click)="toggleSidebar()" type="button" class="button"><span class="icon"><i class="mdi mdi-menu"></i></span></button>
      </div>
      <a class="navbar-item" href="/">
        <h1 id="hardstoplogo">HARDSTOP</h1>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <div class="navbar-item">
          </div>
        </div>
      </div>
      <div class="navbar-end">
            <a *ngIf="usuarioLogado" class="navbar-item">
              {{clienteLogado?.nome || 'Cliente Desconhecido'}}
            </a>
      </div>
  </nav>