<nav class="navbar mb-6" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 id="hardstoplogo">HARDSTOP</h1>
      </a>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="field has-addons">
            <p class="control"> 
              <input class="input" type="text" placeholder="Procure um produto" [formControl]="buscadorForm">  <!-- Correção aqui -->
            </p>
            <p class="control">
              <button class="button" (click)="buscarProduto()">Pesquise</button>
            </p>
          </div>
        </div>
      </div>
      <div class="navbar-end">
            <a *ngIf="usuarioLogado" class="navbar-item">
              {{clienteLogado?.nome || 'Cliente Desconhecido'}}
            </a>
        </div>
      </div>
  </nav>