<div class="container columns">
  <div class="column">
    <h1 class="title is-4">Login Funcionário</h1>
    <form [formGroup]="loginForm" (ngSubmit)="loginF()">
      <div class="field">
        <label class="label" for="username">Usuário:</label>
        <input class="input" placeholder="Digite aqui seu nome de usuário" type="text" id="usernameF" formControlName="username" required>
      </div>
      <div>
        <label class="label" for="password">Senha:</label>
        <input class="input" placeholder="Digite aqui sua senha" type="password" id="passwordF" formControlName="password" required>
      </div>
        <br>
      <div class="buttons">
        <button class="button is-primary" type="submit" [disabled]="loginForm.invalid">Entrar</button>
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>  
    </form>
    </div>
    <div class="column">
      <h4 class="title is-4">Login Cliente</h4>
      <form [formGroup]="loginClienteForm" (ngSubmit)="loginC()">
        <div class="field">
          <label class="label" for="username">Usuário:</label>
          <input class="input" placeholder="Digite aqui seu usuário" type="text" id="usernameC" formControlName="username" required>
        </div>
        <div class="field">
          <label class="label" for="password">Senha:</label>
          <input class="input" placeholder="Digite aqui sua senha" type="password" id="passwordC" formControlName="password" required>
        </div>
        <br>
        <div class="buttons">
          <button class="button is-primary" type="submit" [disabled]="loginClienteForm.invalid">Entrar</button>
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>  
        <br>
        </form>
    </div>  
</div>
